<div class="col mb-1 p-1">
    <MudCard>
        <MudCardHeader Style="background: rgb(27, 27, 27); height: 64px">
            <CardHeaderAvatar>
                <MudAvatar Size="Size.Large" Color="Color.Tertiary">S</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">ryan gosling</MudText>
                <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Dense="true">
                    <MudMenuItem>Share</MudMenuItem>
                    <MudMenuItem>Not Interested</MudMenuItem>
                    <MudMenuItem>Mute User</MudMenuItem>
                </MudMenu>
            </CardHeaderActions>
        </MudCardHeader>

        <div class="d-flex justify-content-center" style="background: rgb(23, 24, 24);">
            <MudImage Style="overflow: hidden; border-radius: 10px !important;" ObjectFit="ObjectFit.Contain" Height="320"
                      Src="/Assets/tiki-mask (5).png" Elevation="0" Class="rounded-lg" />
        </div>

        <MudCardContent Style="background: rgb(23, 24, 24); color: white;">
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
        <MudCardActions Style="background: rgb(27, 27, 27);" Class="d-flex justify-content-between gap-5">
            <div>
                <MudToggleIconButton @bind-Toggled="@Liked"
                                     Icon="@Icons.Material.Filled.Favorite"
                                     ToggledIcon="@Icons.Material.Filled.Favorite"
                                     ToggledColor="Color.Primary" />

                <span style="color: white;">233</span>
            </div>
            <div>
                <MudIconButton Icon="@Icons.Material.Filled.AddComment" Color="Color.Default" />
                <span style="color: white;">233</span>
            </div>
            <div>
                <span style="color: white;">233</span>
                <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Default" />
            </div>
        </MudCardActions>
    </MudCard>
</div>



@code {
    public bool Liked { get; set; }

    [Parameter]
    public required List<PostDto> PostDtos { get; set; }

}
