<div class="col mb-1 p-1">
    <MudCard>
        <MudCardHeader Style="background: rgb(27, 27, 27); height: 60px">
            <CardHeaderAvatar>
                <MudAvatar Size="Size.Large" Color="Color.Tertiary">S</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">ryan gosling</MudText>
                <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Dense="true">
                    <MudMenuItem>Share</MudMenuItem>
                    <MudMenuItem>Not Interested</MudMenuItem>
                    <MudMenuItem>Mute User</MudMenuItem>
                </MudMenu>
            </CardHeaderActions>
        </MudCardHeader>
  @*       <div class="d-flex justify-content-center w-100" style="background: rgb(23, 24, 24);">
            <MudImage Style="overflow: hidden; border-radius: 10px !important;" ObjectFit="ObjectFit.Contain"
                Height="320" Src="/Assets/tiki-mask (5).png" Elevation="0" Class="rounded-lg" />
        </div>
 *@
        <MudCardMedia Image="/Assets/photo_2023-10-06_18-06-51.jpg" Height="320" />

        <MudCardContent Style="background: rgb(27, 27, 27); color: white;">
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
        <MudCardActions Style="background: rgb(27, 27, 27);" Class="d-flex justify-content-between gap-5">
            <div>
                <MudToggleIconButton Toggled="@Liked" ToggledChanged="OnToggledChanged"
                                     Icon="@Icons.Material.Filled.Favorite" Title="Off"
                                     ToggledIcon="@Icons.Material.Filled.Favorite" ToggledColor="@Color.Primary" />
                <span style="color: white;">@like_count</span>
            </div>
            <div>
                <MudIconButton Icon="@Icons.Material.Filled.AddComment" Color="Color.Default" />
                <span style="color: white;">233</span>
            </div>
            <div>
                <span style="color: white;">233</span>
                <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Default" />
            </div>
        </MudCardActions>
    </MudCard>
</div>



@code {
    public bool Liked { get; set; }
    public int like_count = 233;


    [Parameter]
    public required List<PostDto> PostDtos { get; set; }

    public void OnToggledChanged(bool toggled)
    {
        Liked = toggled;
        if (Liked && like_count > 0)
            like_count++;
        else
        {
            Liked = false;  
            like_count--;
        }
    }

}
