<div class="col mb-1 p-1">
    <MudCard>
        <MudCardHeader Style="background: rgb(27, 27, 27); height: 60px">
            <CardHeaderAvatar>
                <MudAvatar Size="Size.Large" Color="Color.Tertiary">S</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">ryan gosling</MudText>
                <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Dense="true">
                    <MudMenuItem>Share</MudMenuItem>
                    <MudMenuItem>Not Interested</MudMenuItem>
                    <MudMenuItem>Mute User</MudMenuItem>
                </MudMenu>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCarousel Style="background-color: rgb(27, 27, 27); height:320px;" ShowBullets="false" EnableSwipeGesture="true" AutoCycle="false" TData="object">
            <MudCarouselItem Style="background-color: rgb(27, 27, 27);" Transition="Transition.Slide">
                <MudCardMedia loading="lazy" Class="w-100" Image="/Assets/avatar_night_in_the_woods.jpg" Height="320" />
            </MudCarouselItem>  
        </MudCarousel>
        <MudCardContent Style="background: rgb(27, 27, 27); color: white;">
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
        <MudCardActions Style="background: rgb(27, 27, 27);" Class="d-flex justify-content-between gap-5">
            <div>
                <MudToggleIconButton Toggled="@Liked" ToggledChanged="OnToggledChanged"
                    Icon="@Icons.Material.Filled.Favorite" Title="Off" ToggledIcon="@Icons.Material.Filled.Favorite"
                    ToggledColor="@Color.Primary" />
                <span style="color: white;">@like_count</span>
            </div>
            <div>
                <MudIconButton Icon="@Icons.Material.Filled.AddComment" Color="Color.Default" />
                <span style="color: white;">233</span>
            </div>
            <div>
                <span style="color: white;">233</span>
                <MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Default" />
            </div>
        </MudCardActions>
    </MudCard>
</div>



@code {
    public bool Liked { get; set; }
    TimeSpan rate = TimeSpan.FromSeconds(3);
    public int like_count = 233;

    [Parameter]
    public required List<PostDto> PostDtos { get; set; }

    public void OnToggledChanged(bool toggled)
    {
        Liked = toggled;
        if (Liked && like_count > 0)
            like_count++;
        else
        {
            Liked = false;
            like_count--;
        }
    }

}
