@page "/interests"
@layout LandingLayout
@using ShareSpace.Shared.DTOs;
@using ShareSpace.Shared.ResponseTypes;
@inject IUserService UserService
@inject NavigationManager NavigationManager
@attribute [Authorize]


<h2 class="mb-10 mt-5" style="background-color: rgb(20, 20, 20); color: white; text-align: center;">what are you into?
</h2>

<div style="background-color: rgb(20, 20, 20);"
    class="container-fluid full-height pt-2 d-flex justify-content-center full-height">
    <div class="muchipswidth">
        <MudChipSet @bind-SelectedChips="selected" MultiSelection="true" Filter="filter"
            Class="d-flex justify-content-center flex-wrap">
            @if (response.Data is null)
            {
                <div class="d-flex justify-content-center">
                    <MudProgressCircular Style="text-align: center;" Indeterminate="true" Color="Color.Primary"
                        Size="Size.Large" />
                </div>
            }
            else
            {
                @foreach (var item in response.Data)
                {
                    <MudChip Value=item.Id.ToString() Text="@item.Value" Variant="Variant.Outlined" Color="Color.Primary">
                        @item.Value</MudChip>
                }
            }
        </MudChipSet>
        <div class="w-100 d-flex flex-column align-items-center">
            @if (selected is not null)
            {
                @if (selected.Length > 2)
                {
                    <MudButton Disabled="@processing" OnClick="Submit" Variant="Variant.Filled" Color="Color.Success"
                        Class="mt-6">
                        @if (processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">please wait</MudText>
                        }
                        else
                        {
                            <MudText>Done</MudText>
                        }
                    </MudButton>
                }
                else
                {
                    <MudAlert Dense="true" Class="mt-7" Severity="Severity.Normal" Variant="Variant.Outlined">please select
                        atleast @(selected_count - selected.Length)</MudAlert>
                }
            }
            else
            {
                <MudAlert Dense="true" Class="mt-7" Severity="Severity.Normal" Variant="Variant.Outlined">please select
                    atleast @(selected_count)</MudAlert>
            }
            @if (SendInterestsResponse is not null)
            {
                @if (!SendInterestsResponse.IsSuccess)
                {
                    <MudAlert Dense="true" Class="mt-7" Severity="Severity.Error" Variant="Variant.Outlined">
                        @SendInterestsResponse.Message</MudAlert>
                }
            }
        </div>
    </div>
</div>


@code
{
    bool filter = true;
    int selected_count = 3;

}