@page "/sign-in"
@layout LandingLayout
@inject IAuthService UserService
@inject NavigationManager NavigationManager
@inject ILocalStorageService localstorage
@inject AuthenticationStateProvider authstate
@inject ISnackbar SnackBar


<PageTitle>Login/Sign-up</PageTitle>

<div style="background-color: rgb(20, 20, 20);"
    class="container-fluid full-height d-flex justify-content-center align-items-center">
    <MudGrid Style="display: flex; justify-content: center !important; align-items: center !important; ">
        <MudItem xs="12" sm="5">
            <MudCard Style="background-color: rgb(23, 24, 24); border-radius: 20px;">
                <MudForm @ref="form" Model="LoginModel" Validation="Validations.ValidateValue">
                    <MudCardContent>

                        <MudTextField id="username" OnlyValidateIfDirty="true" Label="Username"
                            HelperText="Max. 20 characters" @bind-Value="LoginModel.Username"
                            For="@(() => LoginModel.Username)" />

                        <MudTextField id="password" For="@(() => LoginModel.Password)" @bind-Value="LoginModel.Password"
                            Label="Password" Variant="Variant.Text" InputType="@PasswordInput" Adornment="Adornment.End"
                            AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonAddornmentChange"
                            AdornmentAriaLabel="Show Password" />

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Disabled="@processing" OnClick="Submit" Variant="Variant.Filled"
                            Color="Color.Success" Class="ml-auto">
                            @if (processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">please wait</MudText>
                            }
                            else
                            {
                                <MudText>Login</MudText>
                            }
                        </MudButton>
                    </MudCardActions>
                </MudForm>
            </MudCard>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-content-center">
            <span>Or Sign In with <a style="color:yellow" href="/sign-in/required-user-data">Google</a></span>
        </MudItem>
    </MudGrid>
</div>
