@page "/security"
@inject ISnackbar SnackBar
@layout ProfileLayout
@inject NavigationManager NavManager
@inject ISettingsService SettingsService


<PageTitle>Security</PageTitle>

<div style="background-color: rgb(20, 20, 20); height: 100vh;"
    class="container-fluid full-height d-flex flex-column justify-content-center align-items-center">

    <MudGrid Style="display: flex; justify-content: center !important; align-items: center !important; ">
        <MudItem xs="12" sm="5">
            <MudCard Style="background-color: rgb(23, 24, 24); border-radius: 20px;">
                <MudForm @ref="form" Model="passwordModel" Validation="Validations.ValidateValue">
                    <MudCardContent>

                        <MudTextField id="password" For="@(() => passwordModel.OldPassword)"
                            @bind-Value="passwordModel.OldPassword" Label="Old Password" Variant="Variant.Text"
                            InputType="@OldPasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIconOP"
                            OnAdornmentClick="OldPasswordButtonAddornmentChange" AdornmentAriaLabel="Show Password" />

                        <MudTextField id="password" For="@(() => passwordModel.NewPassword)"
                            @bind-Value="passwordModel.NewPassword" Label="New Password" Variant="Variant.Text"
                            InputType="@NewPasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIconNP"
                            OnAdornmentClick="NewPasswordButtonAddornmentChange" AdornmentAriaLabel="Show Password" />

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Disabled="@processing" OnClick="Submit" Variant="Variant.Filled"
                            Color="Color.Success" Class="ml-auto">
                            @if (processing)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">please wait</MudText>
                            }
                            else
                            {
                                <MudText>Done</MudText>
                            }
                        </MudButton>
                    </MudCardActions>
                </MudForm>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>